@font-face {
    font-family: "CabinetGrotesk_Complete";
    src: url(../assets/fonts/CabinetGrotesk_Complete/Fonts/TTF/CabinetGrotesk-Variable.ttf);
    font-weight: 100 900;
}

@font-face {
    font-family: "Author_Complete";
    src: url(../assets/fonts/Author_Complete/Fonts/TTF/Author-Variable.ttf);
    font-weight: 100 900;
}