@font-face {
    font-family: "CabinetGrotesk_Complete";
    src: url(../assets/fonts/CabinetGrotesk_Complete/Fonts/TTF/CabinetGrotesk-Variable.ttf);
    font-weight: 100 900;
}

@font-face {
    font-family: "Chillax_Complete";
    src: url(../assets/fonts/Chillax_Complete/Fonts/TTF/Chillax-Variable.ttf);
    font-weight: 100 900;
}