body {
    background-color: var(--color-bg);
}

section {
    scroll-margin-top: 90px;
}

header {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 82px;
    box-sizing: border-box;
}

h2 {
    font-family: var(--font-heading);
    font-size: var(--text-xl);
    font-weight: 600;
    color: var(--color-text);
}

a:hover {
    background-color: transparent;
    border-radius: 0;
    text-decoration: underline;
}

.my-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: var(--spacing-sm);
    position: fixed;        
    top: 0;                 
    left: 0;                         
    z-index: 1000;          
    background-color: transparent; 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: background-color 0.9s ease;
}

.my-nav.scrolled {
    background-color: var(--color-bg-link);
}

.nav-links {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: var(--spacing-md);
    /*texto de links*/
    font-size: var(--text-lg);
}

.nav-links li {
    padding-right: var(--spacing-md);
}

.nav-links a {
    color: var(--color-text);
    font-family: var(--font-body);
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

.projects-link {
    font-size: var(--text-lg);
    font-family: var(--font-body);
}

.nav-brand {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.logo {
    font-family: var(--font-heading);
    font-size: var(--text-xl);
    color: var(--color-text);
    font-weight: 500;
}

.hero {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.img-pfp {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}

.img-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

p {
    color: var(--color-text-muted);
    font-family: var(--font-body);
    font-size: var(--text-xl);
    font-weight: 400;
}

.hero-text h1 {
    color: var(--color-text);
    font-family: var(--font-heading);
    font-size: var(--text-hero);
    font-weight: 700; 
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-md);
}

.hero-text a {
    color: var(--color-text);
    font-family: var(--font-body);
    font-weight: 500;
    text-decoration: none;
}

.hero-text a:hover {
    text-decoration: underline;
}

/* sobre mi */
.container {
    width: 100%; /* todo el ancho */
    max-width: 1000px; /* maximo de pixeles a extenderse */
    margin: 0 auto; /* quita el margen vertical y entra el contenido en horizontal */
    padding: var(--spacing-md);
    background-color: var(--color-bg-link);
    border-radius: var(--border-md);
}

.card-section-about-me {
    background-color: var(--color-sections);
    border-radius: var(--border-md);
    max-width: 1000px; /* maximo de pixeles a extenderse */
}

#about-me {
    min-height: 100vh;
    background-color: var(--color-bg);
    padding: var(--spacing-lg) 0; /*arriba y a los lados*/
    display: flex;
    align-items: center;
}

#about-me h2 {
    font-family: var(--font-heading);
    font-size: var(--text-xxl);
    font-weight: 600;
    color: var(--color-text);
    margin: 0 0 var(--spacing-md) var(--spacing-sm);
}

#about-me p {
    font-family: var(--font-body);
    font-size: var(--text-lg2);
    color: var(--color-text-muted);
    line-height: 1.7;
    max-width: 65ch; /* maximo 65 caracteres a lo ancho */
    text-align: justify;
    margin: 0 auto; /* centra el parrafo */
    padding: var(--spacing-sm); /* espaciado horizontal para pantallas pequenas */
}

#projects {
    min-height: 100vh;
    background-color: var(--color-bg);
    padding: var(--spacing-xxl) 0 0 0; /* arriba y a los lados */
    display: flex;
    align-items: center;
}

.card-section-project {
    background-color: var(--color-sections);
    max-width: 1400px;
    margin: 0 auto;
    padding: var(--spacing-lg);
}

.card-section-project h2 {
    font-family: var(--font-heading);
    font-size: var(--text-xxl);
    font-weight: 600;
    color: var(--color-text);
    margin: 0 0 var(--spacing-md) var(--spacing-sm);
}

/* grid para las cards */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--spacing-md)
}

/* flexbox dentro de cada card */
.project-card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-sm);
    border-radius: var(--border-md);
    background-color: var(--color-bg);
}

.project-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: var(--border-md);
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    font-family: var(--font-body);
}

.card-body h3 {
    font-family: var(--font-heading);
    font-size: var(--text-xl);
    font-weight: 600;
    color: var(--color-text);
    margin: 0;
}

.card-body p {
    font-size: var(--text-lg);
    color: var(--color-text-muted);
    line-height: 1.5;
    margin: 0;
}

.card-body a {
    color: var(--color-text);
    font-weight: 500;
    align-self: flex-start;
    text-decoration: none;
}

.card-body a:hover {
    text-decoration: underline;
}

.card-tags {
    margin-bottom: var(--spacing-xs);
    list-style: none;
    display: flex;
    gap: var(--spacing-md);
}

/* seccion de skills */
#skills {
    min-height: 100vh;
    padding: var(--spacing-xxl) 0 0 0; /* arriba y a los lados */
    display: flex;
    align-items: center;
}

.card-section-skills {
    background-color: var(--color-sections);
    max-width: 1400px;
    margin: 0 auto;
    padding: var(--spacing-lg);
}

.card-section-skills h2 {
    font-family: var(--font-heading);
    font-size: var(--text-xxl);
    font-weight: 600;
    color: var(--color-text);
    margin: 0 0 var(--spacing-md) var(--spacing-sm);
}


.skills-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
    margin-top: var(--spacing-md);
}

.skill-item {
    background-color: var(--color-primary);
    border-radius: var(--border-md);
    overflow: hidden;
}

.skill-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-md);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.skill-header span:first-child {
  font-family: var(--font-body);
  font-size: var(--text-lg);
  color: var(--color-text-white);
  font-weight: 600;
}

.skill-arrow {
  color: var(--color-text-white);
  font-size: var(--text-md);
  transition: transform 0.3s ease;
}

.skill-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  padding: 0 var(--spacing-md);
}

.skill-body p {
  font-family: var(--font-body);
  font-size: var(--text-lg);
  color: var(--color-text-white);
  line-height: 1.6;
}

.skill-item.activo .skill-body {
  max-height: 300px;
  padding: var(--spacing-sm) var(--spacing-md);
}

.skill-item.activo .skill-arrow {
  transform: rotate(180deg);
}

.skill-header:hover {
  background-color: var(--color-bg-link);
}