body {
    background-color: var(--color-bg);
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/*Navbar in mobile*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem var(--spacing-md) 1rem var(--spacing-sm);
    position: sticky;
    top: 0;
    z-index: 100;
    background: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.navbar.scrolled {
    background: rgba(255, 255, 255, 0.35);
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
}

.navbar__logo {
    font-size: clamp(1.25rem, 5vw, 1.60rem);
    font-family: var(--font-body);
    font-weight: 700;
    color: var(--color-text);
    text-decoration: none;
}

/*Ocultos en mobile temporalmente*/
.navbar__links {
    display: none;
}

/*Links visibles en desktop*/
@media (min-width: 1024px) {
    .navbar__links {
        display: flex;
        align-items: center;
        gap: var(--spacing-md);
        list-style: none;
    }

    .navbar__links a {
        color: var(--color-text);
        font-size: var(--text-md);
        font-family: var(--font-body);
        font-weight: 500;
        text-decoration: none;
    }

    .navbar__links a:hover {
        text-decoration: underline;
    }
}

.navbar__brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-sm);
}

.navbar__pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

@media (min-width: 1024px) {
    .navbar__pfp {
        width: 50px;
        height: 50px;
    }
}

/*Hero in mobile*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: var(--spacing-md) var(--spacing-sm);
    min-height: 90vh;
    animation: hero-fade 700ms ease-out both;
}

@keyframes hero-fade {
    0% {
        transform: translate(8%);
        opacity: 0;
        filter: blur(4px);
    }
    100% {
        transform: translateY(8%);
        opacity: 0;
        filter: blur(0);
    }
}

.hero__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__pfp {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: var(--spacing-md);
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
    text-align: center;
}

@media (min-width: 1024px) {
    .hero {
        animation: hero-sweep 1100ms ease-out both;
    }

    /* keyframes para animacion (left --> right) */
    @keyframes hero-sweep {
        0% {
            transform: translateX(-30%);
            opacity: 0;
            filter: blur(6px);
        }
        100% {
            transform: translateX(0);
            opacity: ;
            filter: blur(0);
        }
    }
}

.hero__title {
    font-family: var(--font-heading);
    font-weight: 900;
    font-size: clamp(2.5rem, 5vw, 6rem);
    color: var(--color-text);
}

.hero__subtitle {
    font-family: var(--font-body);
    font-weight: 500;
    font-size: clamp(1.25rem, 5vw, 1.7rem);
}
.hero__links {
    display: flex;
    gap: var(--spacing-md);
}

.hero__link {
    color: var(--color-text-muted);
    font-family: var(--font-body);
    font-size: clamp(1rem, 5vw, 1.10rem);
    font-weight: 500;
    text-decoration: none;
    border: 2px solid var(--color-text-muted);
    border-radius: var(--border-sm);
    padding:0.5em 1em;
}

.hero__link:hover{
    text-decoration: underline;
}
/*Mobile mediano*/
@media (min-height: 668px) {
    .hero {
        padding: 6rem 1rem;
    }
}

/*Desktop*/
@media (min-width: 1280px) {
    .hero {
        min-height: 94vh;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: var(--spacing-lg) var(--spacing-lg);
    }

    .hero__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-lg);
        width: auto;
        margin: 0 var(--spacing-xl);
        padding-bottom: var(--spacing-lg);
    }

    .hero__pfp {
        width: 250px;
        height: 250px;
        margin-bottom: 0;
    }

    .hero__content {
        justify-content: center;
        align-items: flex-start;
        gap: var(--spacing-sm);
    }

    .hero__title {
        line-height: 0.9;
        padding-bottom: var(--spacing-sm);
    }

    .hero__links {
        gap: var(--spacing-sm);
        padding-top: var(--spacing-sm);
    }
}

/*About me in mobile*/
.about {
    padding: var(--spacing-lg) var(--spacing-sm);
}

.about__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.about__title {
    font-family: var(--font-heading);
    font-size: clamp(1.8rem, 6vw, 3.5rem);
    font-weight: 900;
    line-height: 1.1;
    color: var(--color-text);
}

.about__body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: 0 var(--spacing-sm);
}

.about__text {
    font-family: var(--font-body);
    font-size: clamp(1rem, 2vw, 1.30rem);
    font-weight: 500;
    color: var(--color-text-muted);
    line-height: 1.7;
}
/*Mobile mediano*/
@media (min-height: 668px) {
    .about {
        padding: var(--spacing-xl) var(--spacing-sm);
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .about {
        padding: var(--spacing-xl);
    }

    .about__wrapper {
        max-width: 780px;
        gap: var(--spacing-lg);
    }

    .about__body {
        padding-left: var(--spacing-md);
        border-left: 2px solid var(--color-border);
    }
}

/*Projects in mobile*/
.projects {
    padding: var(--spacing-lg) var(--spacing-sm);
}

.projects__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-lg);
}

.projects__title {
    font-family: var(--font-heading);
    font-size: clamp(1.8rem, 6vw, 3.5rem);
    font-weight: 900;
    line-height: 1.1;
    color: var(--color-text);
    padding-bottom: var(--spacing-md);
}

.project-card {
    background-color: var(--color-bg-alt);
    border-radius: var(--border-sm);
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    margin: 0 var(--spacing-sm);
}

.project-card__title {
    font-family: var(--font-heading);
    font-size: clamp(1.25rem, 4vw, 1.80rem);
    font-weight: 600;
    color: var(--color-text-cards);
}

.project-card__desc {
    font-family: var(--font-body);
    font-size: clamp(0.875rem, 2vw, 1.125rem);
    font-weight: 600;
    color: var(--color-text-cards);
    padding-bottom: var(--spacing-sm);
}

.project-card__tags {
    display: flex;
    gap: var(--spacing-md);
    list-style: none;
    padding-bottom: var(--spacing-sm);
}

.project-card__tag {
    background-color: var(--color-primary);
    color: var(--color-text-cards);
    font-family: var(--font-body);
    font-size: clamp(0.75rem, 2vw, 0.875rem);
    font-weight: 500;
    padding: 0.25em 0.75em;
    border-radius: var(--border-sm);
}

.project-card__links {
    display: flex;
    gap: var(--spacing-sm);
}

.project-card__link {
    color: var(--color-text-cards);
    font-family: var(--font-body);
    font-size: clamp(0.875rem, 2vw, 1.125rem);
    font-weight: 500;
    text-decoration: none;
    border: 2px solid var(--color-text-cards);
    border-radius: var(--border-sm);
    padding:0.5em 1em;
}

.project-card__link--github {
    /*Colores temporales, luego cambiar por unos que diferencien*/
    border-color: var(--color-text-cards);
    color: var(--color-text-muted);
}

/*Mobile mediano*/
@media (min-height: 668px) {
    .projects {
        padding: var(--spacing-xl) var(--spacing-sm);
    }
}

/*Desktop*/
@media (min-width: 1200px) {
    .projects {
        padding: var(--spacing-xl);
    }
    
    .projects__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.project-card__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--border-sm);
}

/*Skills in mobile*/
.skills {
    padding: var(--spacing-lg) var(--spacing-sm);
}

.skills__title {
    font-family: var(--font-heading);
    font-size: clamp(1.8rem, 6vw, 3.5rem);
    font-weight: 900;
    line-height: 1.1;
    color: var(--color-text);
    padding-bottom: var(--spacing-md);
}

.skills__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: var(--spacing-md);
}

.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
    background-color: var(--color-bg-alt);
    border-radius: var(--border-md);
    padding: var(--spacing-sm);
}

.skill-card__icon {
    width: 50px;
    height: 50px;
}

.skill-card__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.skill-card__name {
    font-family: var(--font-body);
    font-size: clamp(0.875rem, 2vw, 1.125rem);
    font-weight: 500;
    color: var(--color-text-muted);
    background-color: var(--color-primary);
    padding: 0.25em 0.75em;
    border-radius: var(--border-sm);
}

/*Desktop*/
@media (min-width: 1200px) {
    .skills {
        padding: var(--spacing-xl);
    }
    
    .skills__grid {
        grid-template-columns: repeat(7, 1fr);
        gap: var(--spacing-lg);
        margin: 0 var(--spacing-md)
    }

    .skill-card__icon {
        width: 80px;
        height: 80px;
    }
}

/*Contact in mobile*/
.contact {
    padding: var(--spacing-md);
    background-color: var(--color-bg-alt);
    border-radius: var(--border-md);
    margin: var(--spacing-lg) var(--spacing-sm);
}

.contact__title {
    font-family: var(--font-heading);
    font-size: clamp(1.8rem, 6vw, 3.5rem);
    font-weight: 900;
    line-height: 1.1;
    color: var(--color-text);
    padding-bottom: var(--spacing-sm);
}

.contact__desc {
    font-family: var(--font-body);
    font-size: clamp(1rem, 2vw, 1.30rem);
    font-weight: 500;
    color: var(--color-text-muted);
    line-height: 1.7;
    padding-bottom: var(--spacing-md);
    margin: 0 var(--spacing-sm);
}

.contact__form-wrapper {
    display: flex;
    gap: var(--spacing-md);
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    flex: 1;
}

.contact__form-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    color: var(--color-text);
    font-family: var(--font-body);
    font-size: clamp(1.2rem, 2vw, 1.125rem);
    font-weight: 600;
}

.contact__input, .contact__textarea {
    padding: var(--spacing-sm);
    border: 2px solid var(--color-text-muted);
    border-radius: var(--border-sm);
    font-family: var(--font-body);
    font-size: clamp(1rem, 2vw, 1.125rem);
    font-weight: 500;
    color: var(--color-text-muted);
}

.btn-submit {
    color: var(--color-text-cards);
    font-family: var(--font-body);
    font-size: clamp(0.875rem, 2vw, 1.125rem);
    font-weight: 500;
    text-decoration: none;
    border: 2px solid var(--color-text-muted);
    border-radius: var(--border-sm);
    padding:0.5em 1em;
    align-self: flex-start;
}

.contact__link:hover{
    text-decoration: underline;
}

/*Desktop*/
@media (min-width: 1200px) {
    .contact {
        padding: var(--spacing-xl);
        margin: var(--spacing-xl) auto;
        max-width: 900px;
    }
}

/*Footer*/
.footer {
    text-align: center;
    padding: var(--spacing-md);
    color: var(--color-text-muted);
    font-family: var(--font-body);
    font-size: clamp(0.875rem, 2vw, 1.125rem);
    font-weight: 500;
}

.footer a {
    color: var(--color-text-muted);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}