:root {
    --color-bg: #bebebe; /* color de acento que va en botones y detalles */
    --color-bg-light: #e9ecef; /* fondo de la pagina */
    --color-bg-card: #388b40; /* fondo de las secciones o tarjetas */
    --color-frosted: #DFDBE5; /* fondo de la barra de navegacion */
    --color-text: #094b08; /* texto principal */
    --color-text-muted: #000000; /* texto secundario, subtitulos */
    
    --font-heading: "Chillax_Complete", sans-serif; /* para titulos */
    --font-body: "Author_Complete", serif; /* para texto corrido */

    --spacing-xs: 0.5rem;
    --spacing-md: 2rem;
    --spacing-xl: 6rem;

    --text-sm: 0.875rem;
    --text-md: 1rem;
    --text-lg: 1.25rem;

    --border-sm: 1rem;
    --border-md: 1.25rem;
}